/*
 * ========== TABLA DE CONTENIDO ======
 * 1. Reset
 * 2. Base
 * 3. Breakpoints
 *   3.1. Celular
 *   3.2. Tablet
 *   3.3. Desktop
 */

/* ===========
 * 1. Reset
 * ===========
 * Reglas para eliminar la mayoría de estilos
 * del navegador
 */

 /* html {
    box-sizing: border-box;
    font-size: 16px;
 } */

 body{
    background: #E5E5E5;
    width: 940px;
    font-family: 'Inter', sans-serif;
 }
  
  /* *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol,
  ul {
    list-style: none;
  } 
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  textarea,
  textarea:hover,
  textarea:focus,
  input[type="button"],
  input[type="button"]:hover,
  input[type="button"]:focus {
    background: inherit;
    color:  inherit;
    font: inherit;
    outline: none;
  }
  
  textarea {
    resize: none;
  } +/
  
  /* ==========
   * 2. Base
   * ==========
   */
  /* @font-face {
    font-family:  'Inter';
    src: url('./fonts/Inter-Light.ttf');
    font-weight: normal;
  }
  
  @font-face {
    font-family:  'Inter';
    src: url('./fonts/Inter-Bold.ttf');
    font-weight: bold;
  }
  
  html {
    font-family:  'Inter', sans-serif;
  } +/
  
  
  /* =================
   * 3. Breakpoints
   * =================
   * Los breakpoints sirven para cambiar el diseño
   * de la página en puntos claves
   */
  /* ==============
   * 3.1 Celular
   * ==============
   */
  .principal {
    min-height: 75vh;
  }
  
  .logo {
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    width: 31px;
    height: 48px;
    left: 44px;
    top: 40px;
    padding: 0px;
    margin: 1em;
  }
  
  .d-flex {
    display: flex;
  }
  
  .d-none {
    display: none;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-grow {
    flex-grow: 1;
  } 
  
 #entrada {
    position: absolute;
    width: 45%; 
    padding: 10px;
    height: 310px;
    left: 150px;
    top: 150px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background: #E5E5E5;
    color: #0A3871;
    font-family: 'Inter';
    border: none;
    outline: none;
    resize: none;
 }
  
 ::placeholder {
    color: #0A3871;
 }
  
 .controles {
    /* padding: 1.5rem; */

    position: absolute;
    top: 85%;
    left: 10%;
    width: 50%;
 }
  
 header {
    margin-top: 1.5rem;
    padding-left: 1rem;
 } 
  
 .advertencia {
    /* height: 2rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center; */

    position: absolute;
    top: 77%;
    left: 11%;
    width: 405px;
    height: 18px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
 }
  
  input.button-e {
    /* color: #0A3871;
    border: solid 1px #0A3871;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 0.5rem 0px;
    cursor: pointer; */

    display: inline;
    position: static;
    width: 280px;
    height: 55px;
    padding: auto;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Inter' sans-serif;
    color: #FFFFFF;
    background: #0A3871;
    border-radius: 24px;
    margin: 0 24px;
    transition: 500ms all;
    cursor: pointer;
  }

  input.button-d{
    display: inline;
    position: static;
    width: 280px;
    height: 55px;
    padding: auto;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Inter' sans-serif;
    color: #0A3871;
    border: 1px solid #0A3871;
    background: #D8DFE8;
    border-radius: 24px;
    margin: 0px 24px;
    transition: 500ms all;
    cursor: pointer;
  }

  input.button-e:hover {
    transform: scale(1.1);
    background-color: #D8DFE8;
    font-family: 'Inter' sans-serif;
    color: #0A3871;
  }

  input.button-d:hover {
    transform: scale(1.1);
    background-color: #0A3871;
    font-family: 'Inter' sans-serif;
    color: #D8DFE8;
  }
  
  /* input.button:hover,
  input.button:focus {
    background-color: #0A3871;
    color: #fff;
    border: solid 1px #000;
  } */
  
  .barra-lateral {
    /* background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    min-height: calc(25vh - 2rem);
    color: #495057; */

    position: absolute;
    padding: 10px;
    width: 300px;
    height: 550px;
    left: 900px;
    margin-top: 40px;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  }
  
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .info {
    text-align: center;
  }

  .muneco {
    position: relative;
    display: block;
    margin: 23px auto;
    width: 70%;
    top: 45px;
  }
  
  .icon-info {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0px 0.5rem;
  }
  
  .info-txt strong{
    color: #343A40;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
 .barra-lateral .button {
    /* position: absolute;
    visibility: hidden;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem; */

    position: absolute;
    align-items: center;
    width: 240px;
    top: 500px;
    left: 100px;
    height: 47px;
    padding: auto;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Inter' sans-serif;
    color: #0A3871;
    border: 1px solid #0A3871;
    background: #D8DFE8;
    border-radius: 24px;
    margin: 0 auto;
    transition: 500ms all;
    cursor: pointer;
 }

 .barra-lateral .button:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;
 }
  
 .barra-lateral.con-salida .button {
    visibility: visible;
 }
  
 .barra-lateral.con-salida .info {
    display:  none;
 }
  
 #salida {
    padding: 10px;
    font-size: 1.5rem;
    max-width: 100%;
    word-break: break-all;
    overflow-y: auto;
    margin: 0 auto;
 }

 .texto-piedepagina{
    position: absolute;
    top: 96%;
    left: 22%;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Inter' sans-serif;
 }

 .linkedin{
    position: absolute;
    width: 38px;
    height: 35px;
    top: 94%;
    left: 50%;
    transition: 500ms all;
 }

 .linkedin:hover {
    transform: scale(1.1);
    opacity: 0.7;
 }


 .github{
    position: absolute;
    width: 38px;
    height: 35px;
    top: 94%;
    left: 54%;
    transition: 500ms all;
 }

 .github:hover {
    transform: scale(1.1);
    opacity: 0.7;
 }  

 /* ------------- */

@media only screen and (min-width: 375px) {
    .d-sm-flex {
      display:  flex;
    }
  
    .flex-sm-column {
      flex-direction: column;
    }
  
    .flex-sm-row {
      flex-direction: row;
    }
  
    .flex-sm-grow {
      flex-grow: 1;
    }
  
    input.button {
      border-radius: 1rem;
      margin: 0px 1rem;
    }
  
  }

  /* ------------- */

  @media only screen and (min-width: 768px) {
    .d-md-flex {
      display:  flex;
    }
  
    .d-md-block {
      display: block;
    }
  
    .flex-md-column {
      flex-direction: column;
    }
  
    .flex-md-row {
      flex-direction: row;
    }
  
    .flex-md-grow {
      flex-grow: 1;
    }
  
    .principal {
      width: 70%;
    }
  
    .barra-lateral {
      width: 30%;
    }
  
    body {
      height: 100vh;
    }
  }
  